<div class="container p-4">
    <center>
        <div class="row">
            <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                <img class="picture" src="~/img/istockphoto.jpg">
            </div>

            <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                <div class="text_box_index">
                    <h5 class="text-uppercase">За Адвокат Георги Шаренков</h5>
                    <p>
                        Адвокат Георги Шаренков предлага широк кръг от правни услуги – юридически консултации, корпоративно обслужване, участие в преговори, сделки и лицензионни процедури, изготвяне на договори и други документи, както и процесуално представителство и защита на местни и чуждестранни лица пред всички български съдилища и органи.
                    </p>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                        <a class="button" id="button-1" href="tel:+359898584080">
                            <center>
                                <p><h5>Запиши час за консултация:</h5></p>
                                <p><strong>+359 898 58 40 80</strong></p>
                            </center>
                        </a>
                    </div>
                    <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                        <a class="button" id="button-1" href="mailto:sharenkov_g@abv.bg">
                            <center>
                                <p><h5>Направи запитване на e-mail:</h5></p>
                                <p><strong>sharenkov_g@abv.bg</strong></p>
                            </center>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </center>
</div>