@{
    ViewData["Title"] = "Home Page";
}

<div class="container p-4">
    <div class="row">
        <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
            <img class=picture src="~/img/istockphoto.jpg">
        </div>

        <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
            <h5 class="text-uppercase">text</h5>

            <p>
                text text
                text text
                text text
                text text
                text text
                text text
            </p>
        </div>

        <div class="row justify-content-center">
                <a class="button" id="button-16" asp-controller="AboutUs" asp-action="AdministrativnoPravo">Административно право</a>
                <a class="button" id="button-16" asp-controller="AboutUs" asp-action="AdministrativnoPravo">Административно право</a>
        </div>
    </div>
</div>