@{
    ViewData["Title"] = "Contacts Page";
}

@*<div class="text-center">
    <h1 class="display-4">Contacts Page</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>
*@

                            <i class="fas fa-gem me-3 text-secondary"></i>Logo
                        </h6>
                        <p>
                            Name-logo
                        </p>


  <div class="container p-4">
    <!--Grid row-->
    <div class="row">
      <!--Grid column-->
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase">Address</h5>

        <p>
          address
        </p>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase">Contact</h5>

        <p>
          email and phone 
        </p>
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->
  </div>