<div class="container p-4">
    <center>
        <div class="row">
            <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
                <div class="text_boxContacts">
                    <center><h3>Адрес</h3></center>
                    <ul>
                        <p>
                            ул. "Алеко Константинов" 16<br />
                            ет. 3, офис. 9Б<br />
                            гр. Варна, общ. Варна<br />
                            9000, България
                        </p>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
                <div class="text_boxContacts">
                    <center><h3>Контакти</h3></center>
                    <ul>
                        <p><i class="fa fa-fw fa-phone me-3 text-secondary"></i> +359 898 58 40 80</p>
                        <p><i class="fa fa-fw fa-envelope me-3 text-secondary"></i> sharenkov_g@abv.bg</p>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
                <div class="container" id="map">
                    <center><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1453.9478165001112!2d27.90478850239659!3d43.21167832487966!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40a4547703cb41d1%3A0xb38687c8268304fe!2sul.%20%22Aleko%20Konstantinov%22%2016%2C%209000%20Hristo%20Botev%2C%20Varna!5e0!3m2!1sen!2sbg!4v1675162271043!5m2!1sen!2sbg" width="400" height="350" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></center>
                </div>
            </div>
        </div>
    </center>
</div>