html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    padding-top: 150px;
    background-image: url("../img/BGBLACK.png");
    background-repeat: repeat;
    
}
.container {
    position: relative;
    z-index: 100;
    color: white;
}

.navbar {
    height: 100px;
}
.logo {
    width: 100px;
    height: 100px;
    margin-left: 20px; /* how far the icon is away from the page edge */
    margin-right: 0px; /* how far the text beside it should be */
    margin-top: 0px; /* if you want it vertically middle of the navbar. */
}


