html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    padding-top: 190px;
    background-image: url("../img/BGBLACK.png");
    background-repeat: repeat;
    
}
.container {
    position: relative;
    z-index: 100;
    color: white;
}
.navbar {
    height: 100px;

}
.navbar-nav {
    margin-left: 0px;  /* topbar number and email move*/
}

.logo {
   /* width: 100px;
    height: 100px;*/
    margin-left: 10px; /* how far the icon is away from the page edge */
    margin-top: 0px; /* how far the text beside it should be */
}

.button {
    
    display: inline-block;
    padding: 4px 10px;
    margin: 2px;
    position: relative;
    color: #ecf0f1;
    width: 230px;
    height: 57px;
}

a:hover {
    text-decoration: none;
    color: white;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}



/* BUTTON 16 */

#button-16 {
    background-color: #cd9e7d;
    color: #422419;
    font-weight: bold;
    text-align: left;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    border: 1px solid black;
}

    #button-16:hover {
        border-radius: 15px;
        border: 1px solid black;
    }

/*.text_box {*/
    /*background-color: orange;*/
    /*filter: opacity(0.3);*/
    /*opacity: 10%;*/
    /*    color: white;
    font-size: 20px;*/
    /*padding: 10px;
    border: 1px black;
    margin: 50px;
    margin-top: -300px;
    width: 800px;
    height: 350px;
    overflow: auto;
    position: relative;
    left: 200px;
    top: -247px;
    background: rgba(205, 158, 125, .2);
    font-size: 50px;
}*/

/*#box-text{
    color: white;
    font-size: 100px;
}*/

.text_box {
    /*background-color: orange;*/
    /*filter: opacity(0.3);*/
    /*opacity: 10%;*/
    /*    color: white;
    font-size: 20px;*/
    padding: 10px;
    border: 1px black;
/*    margin: 50px;*/
/*    margin-top: -300px;*/
/*    width: 800px;*/
    height: 545px;
    overflow: auto;
    position: relative;
/*    left: 200px;*/
/*    top: -247px;*/
    background: rgba(205, 158, 125, .2);
    font-size: 17px;
    text-align: justify;
}


