@{
    ViewData["Title"] = "About Us Page";
}

<div class="text-center">
    <h1 class="display-4">About Us Page</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>



<div class="six col">
    <a href="#" class="button" id="button-16">Lorem ipsum dolor</a>
</div>

<div class="six col">
    <a href="#" class="button" id="button-16">Lorem ipsum dolor</a>
</div>

<div class="six col">
    <a href="#" class="button" id="button-16">Lorem ipsum dolor</a>
</div>