@*@{
    ViewData["Title"] = "About Us Page";
}

<div class="text-center">
    <h1 class="display-4">About Us Page</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>*@

<div class="six col">
    <a href="#" class="button" id="button-16">Lorem ipsum dolor</a>
</div>


<div class="six col">
    <a href="#" class="button" id="button-16">Lorem ipsum dolor</a>
</div>

<div class="six col">
    <a href="#" class="button" id="button-16">Lorem ipsum dolor</a>
</div>

<div class="six col">
    <a class="button" id="button-16" asp-controller="Contact" asp-action="Contacts">Lorem ipsum dolor</a>
</div>
<div class="six col">
    <a href="#" class="button" id="button-16">Lorem ipsum dolor</a>
</div>


<div class="six col">
    <a href="#" class="button" id="button-16">Lorem ipsum dolor</a>
</div>

<div class="six col">
    <a href="#" class="button" id="button-16">Lorem ipsum dolor</a>
</div>

@*<textarea readonly rows="12" cols="90">
At w3schools.com you will learn how to make a website. They offer free tutorials in all web development technologies.
</textarea>
*@


<div class="text_box">
    <ul>
        this is my text
    </ul>
    </div>
