<div class="container p-4" id="praktikaDiv">
    <div class="row">
        <div class="col-lg-3 col-md-12 mb-4 mb-md-0">
            <div class="six col">
                <a class="button" id="button-16" asp-controller="AboutUs" asp-action="AdministrativnoPravo">Административно право</a>
            </div>

            <div class="six col">
                <a class="button" id="button-16" asp-controller="AboutUs" asp-action="KorporativnoPravo">Корпоративно право</a>
            </div>

            <div class="six col">
                <a class="button" id="button-16" asp-controller="AboutUs" asp-action="TargovskoPravo">Търговско право</a>
            </div>

            <div class="six col">
                <a class="button" id="button-16" asp-controller="AboutUs" asp-action="VeshtnoPravo">Вещно право</a>
            </div>

            <div class="six col">
                <a class="button" id="button-16" asp-controller="AboutUs" asp-action="ObligacionnoPravo">Облигационно право</a>
            </div>

            <div class="six col">
                <a class="button" id="button-16" asp-controller="AboutUs" asp-action="NakazatelnoPravo">Наказателно право</a>
            </div>

            <div class="six col">
                <a class="button" id="button-16" asp-controller="AboutUs" asp-action="SemeynoNasledstvenoPravo">Семейно и наследствено право</a>
            </div>

            <div class="six col">
                <a class="button" id="button-16" asp-controller="AboutUs" asp-action="NesastoyatelnostLikvidaciya">Несъстоятелност и ликвидация</a>
            </div>

            <div class="six col">
                <a class="button" id="button-16" asp-controller="AboutUs" asp-action="ProcesualnoPredstavitelstvo">Процесуално представителство</a>
            </div>
        </div>
        <div class="col-lg-9 col-md-12 mb-4 mb-md-0">
            <div class="text_box">
                <center><h1>Наказателно право</h1></center>
                <hr />
                <p>
                    <ul>
                        <li>Специализирана правна помощ на пострадали при ПТП.</li>
                        <li>Консултации и становища по наказателни дела;</li>
                        <li>Процесуално представителство пред съд по Мярка за неотклонение.</li>
                        <li>Правна помощ и защита по досъдебни производства;</li>
                        <li>Съдебна защита по наказателни дела (първа инстанция, въззивна инстанция и пред ВКС);</li>
                        <li>Съдействие за постигане на споразумения по дела /за алкохол и др/.</li>
                    </ul>
                </p>
            </div>
        </div>
    </div>
</div>