<div class="container p-4" id="praktikaDiv">
    <div class="row">
        <div class="col-lg-3 col-md-12 mb-4 mb-md-0">
            <div class="six col">
                <a class="button" id="button-16" asp-controller="AboutUs" asp-action="AdministrativnoPravo">Административно право</a>
            </div>

            <div class="six col">
                <a class="button" id="button-16" asp-controller="AboutUs" asp-action="KorporativnoPravo">Корпоративно право</a>
            </div>

            <div class="six col">
                <a class="button" id="button-16" asp-controller="AboutUs" asp-action="TargovskoPravo">Търговско право</a>
            </div>

            <div class="six col">
                <a class="button" id="button-16" asp-controller="AboutUs" asp-action="VeshtnoPravo">Вещно право</a>
            </div>

            <div class="six col">
                <a class="button" id="button-16" asp-controller="AboutUs" asp-action="ObligacionnoPravo">Облигационно право</a>
            </div>

            <div class="six col">
                <a class="button" id="button-16" asp-controller="AboutUs" asp-action="NakazatelnoPravo">Наказателно право</a>
            </div>

            <div class="six col">
                <a class="button" id="button-16" asp-controller="AboutUs" asp-action="SemeynoNasledstvenoPravo">Семейно и наследствено право</a>
            </div>

            <div class="six col">
                <a class="button" id="button-16" asp-controller="AboutUs" asp-action="NesastoyatelnostLikvidaciya">Несъстоятелност и ликвидация</a>
            </div>

            <div class="six col">
                <a class="button" id="button-16" asp-controller="AboutUs" asp-action="ProcesualnoPredstavitelstvo">Процесуално представителство</a>
            </div>
        </div>
        <div class="col-lg-9 col-md-12 mb-4 mb-md-0">
            <div class="text_box">
                <center><h1>Несъстоятелност и ликвидация</h1></center>
                <hr />
                <p>
                    &nbsp;&nbsp;Кантората  ни предоставя консултации и правна помощ при проблеми, свързани с търговската несъстоятелност. Оказваме правна защита при откриване на производство по несъстоятелност при изготвяне и подаване на молби за откриване на производство по несъстоятелност пред съд, по време на самото производство; представителство на кредитори в производството по несъстоятелност, при преговори между кредитори на неплатежоспособни дружества, при консултиране на управители  относно задълженията им, свързани с дружества в несъстоятелност и представляваме клиентите си във всички фази на процеса.
                </p>
                <p>
                    &nbsp;&nbsp;Притежаваме ценен опит в ликвидацията на търговски  дружества, предоставяйки правни съвети и представителство на клиентите ни пред Национална агенция за приходите,Националния осигурителен институт  и други компетентни институции във връзка с разпределяне на имуществото на ликвидиращо се дружество между кредиторите и издаването на различни удостоверения, необходими за представяне в Търговски регистър при заличаване на дружеството.
                </p>
            </div>
        </div>
    </div>
</div>