<div class="container p-4" id="praktikaDiv">
    <div class="row">
        <div class="col-lg-3 col-md-12 mb-4 mb-md-0">
            <div class="six col">
                <a class="button" id="button-16" asp-controller="AboutUs" asp-action="AdministrativnoPravo">Административно право</a>
            </div>

            <div class="six col">
                <a class="button" id="button-16" asp-controller="AboutUs" asp-action="KorporativnoPravo">Корпоративно право</a>
            </div>

            <div class="six col">
                <a class="button" id="button-16" asp-controller="AboutUs" asp-action="TargovskoPravo">Търговско право</a>
            </div>

            <div class="six col">
                <a class="button" id="button-16" asp-controller="AboutUs" asp-action="VeshtnoPravo">Вещно право</a>
            </div>

            <div class="six col">
                <a class="button" id="button-16" asp-controller="AboutUs" asp-action="ObligacionnoPravo">Облигационно право</a>
            </div>

            <div class="six col">
                <a class="button" id="button-16" asp-controller="AboutUs" asp-action="NakazatelnoPravo">Наказателно право</a>
            </div>

            <div class="six col">
                <a class="button" id="button-16" asp-controller="AboutUs" asp-action="SemeynoNasledstvenoPravo">Семейно и наследствено право</a>
            </div>

            <div class="six col">
                <a class="button" id="button-16" asp-controller="AboutUs" asp-action="NesastoyatelnostLikvidaciya">Несъстоятелност и ликвидация</a>
            </div>

            <div class="six col">
                <a class="button" id="button-16" asp-controller="AboutUs" asp-action="ProcesualnoPredstavitelstvo">Процесуално представителство</a>
            </div>
        </div>
        <div class="col-lg-9 col-md-12 mb-4 mb-md-0">
            <div class="text_box">
                <center><h1>Облигационно право</h1></center>
                <hr />
                <p>Предлагани услуги и дейност:</p>
                <p>
                    <ul>
                        <li>Kонсултации във връзка с преддоговорни отношения, сключване, изменение, изпълнение, прекратяване на договори.</li>
                        <li>Oбезщетения и неустойки.</li>
                        <li>Изготвяне на всички видове облигационни договори – покупко-продажба, заем, наем, договор за придобиване на имот срещу задължение за издръжка и гледане, дарение, замяна.</li>
                        <li>Правно консултиране, проучване на собствеността, посредничество при търсене на недвижими имоти, изготвяне на предварителни договори и нотариални актове.</li>
                        <li>Оказване на съдействие пред нотариус.</li>
                        <li>Изготвяне на договори за покупко-продажба на МПС и съдействие пред нотариус.</li>
                    </ul>
                </p>
            </div>
        </div>
    </div>
</div>