<div class="container p-4" id="praktikaDiv">
    <div class="row">
        <div class="col-lg-3 col-md-12 mb-4 mb-md-0">
            <div class="six col">
                <a class="button" id="button-16" asp-controller="AboutUs" asp-action="AdministrativnoPravo">Административно право</a>
            </div>

            <div class="six col">
                <a class="button" id="button-16" asp-controller="AboutUs" asp-action="KorporativnoPravo">Корпоративно право</a>
            </div>

            <div class="six col">
                <a class="button" id="button-16" asp-controller="AboutUs" asp-action="TargovskoPravo">Търговско право</a>
            </div>

            <div class="six col">
                <a class="button" id="button-16" asp-controller="AboutUs" asp-action="VeshtnoPravo">Вещно право</a>
            </div>

            <div class="six col">
                <a class="button" id="button-16" asp-controller="AboutUs" asp-action="ObligacionnoPravo">Облигационно право</a>
            </div>

            <div class="six col">
                <a class="button" id="button-16" asp-controller="AboutUs" asp-action="NakazatelnoPravo">Наказателно право</a>
            </div>

            <div class="six col">
                <a class="button" id="button-16" asp-controller="AboutUs" asp-action="SemeynoNasledstvenoPravo">Семейно и наследствено право</a>
            </div>

            <div class="six col">
                <a class="button" id="button-16" asp-controller="AboutUs" asp-action="NesastoyatelnostLikvidaciya">Несъстоятелност и ликвидация</a>
            </div>

            <div class="six col">
                <a class="button" id="button-16" asp-controller="AboutUs" asp-action="ProcesualnoPredstavitelstvo">Процесуално представителство</a>
            </div>
        </div>
        <div class="col-lg-9 col-md-12 mb-4 mb-md-0">
            <div class="text_box">
                <center><h1>Процесуално представителство и разрешаване на спорове</h1></center>
                <hr />
                <p>
                    &nbsp;&nbsp;Кантората е привърженик  на превенцията, а не на съдебния спор, затова се стремим да допринесем за извънсъдебно разрешаване на възникнали спорове - чрез преговори, доброволно изпълнение, споразумения, алтернативни начини за разрешаване на спорове. Въпреки стремежът ни за избягване на съдебни процеси, когато договорните отношения на клиентите ни са се развили по начин, който води до явяване в съдебен процес, когато са нарушени или застрашени  права или законни интереси на клиентите, ние сме в постоянна готовност да ги защитаваме във всички инстанции на производството.
                </p>
                <p>
                    &nbsp;&nbsp;Кантората представлява клиентите си и пред арбитражните съдилища в България, консултираме ги по отношение арбитражните клаузи в договорите им, изготвяме извънсъдебни споразумения.
                </p>
                <p>
                    &nbsp;&nbsp;Екипът на кантората ни има опит във всички сфери на гражданското съдопроизводство - граждански, търговски, трудови, данъчни и други административни дела, производства за допускане на изпълнение в България на чуждестранни  решения. След успешно приключване на съдебния процес съдействаме при въвеждане в изпълнение на решението до пълното удовлетворяване интереса на  клиента.
                </p>
            </div>
        </div>
    </div>
</div>