<div class="container p-4" id="praktikaDiv">
    <div class="row">
        <div class="col-lg-3 col-md-12 mb-4 mb-md-0">
            <div class="six col">
                <a class="button" id="button-16" asp-controller="AboutUs" asp-action="AdministrativnoPravo">Административно право</a>
            </div>

            <div class="six col">
                <a class="button" id="button-16" asp-controller="AboutUs" asp-action="KorporativnoPravo">Корпоративно право</a>
            </div>

            <div class="six col">
                <a class="button" id="button-16" asp-controller="AboutUs" asp-action="TargovskoPravo">Търговско право</a>
            </div>

            <div class="six col">
                <a class="button" id="button-16" asp-controller="AboutUs" asp-action="VeshtnoPravo">Вещно право</a>
            </div>

            <div class="six col">
                <a class="button" id="button-16" asp-controller="AboutUs" asp-action="ObligacionnoPravo">Облигационно право</a>
            </div>

            <div class="six col">
                <a class="button" id="button-16" asp-controller="AboutUs" asp-action="NakazatelnoPravo">Наказателно право</a>
            </div>

            <div class="six col">
                <a class="button" id="button-16" asp-controller="AboutUs" asp-action="SemeynoNasledstvenoPravo">Семейно и наследствено право</a>
            </div>

            <div class="six col">
                <a class="button" id="button-16" asp-controller="AboutUs" asp-action="NesastoyatelnostLikvidaciya">Несъстоятелност и ликвидация</a>
            </div>

            <div class="six col">
                <a class="button" id="button-16" asp-controller="AboutUs" asp-action="ProcesualnoPredstavitelstvo">Процесуално представителство</a>
            </div>
        </div>
        <div class="col-lg-9 col-md-12 mb-4 mb-md-0">
            <div class="text_box">
                <center><h1>Търговско право</h1></center>
                <hr />
                <p>
                    <ul>
                        <li>Консултации при избор на правно - организационна форма на търговец;</li>
                        <li>Учредяване, регистрация, преобразуване и прекратяване на търговски дружества, еднолични търговци, сдружения, фондации;</li>
                        <li>Консултации във връзка с дейността на търговски дружества, еднолични търговци, сдружения, фондации;</li>
                        <li>Консултации и изготвяне на документи за сделки с търговски предприятия;</li>
                        <li>Цялостно административно - правно обслужване на търговски дружества, еднолични търговци, сдружени, фондации;</li>
                        <li>Консултации и изготвяне на необходимите документи и регистрация на промени на търговски дружества, еднолични търговци, фондации, сдружения;</li>
                        <li>Преобразуване на търговски дружества и други юридически лица- вливане, сливане, отделяне и разделяне;</li>
                        <li>Консултации и изготвяне на търговски договори;</li>
                        <li>Сделки с търговски предприятия;</li>
                        <li>Консултации и посредничество при доброволно уреждане на спорове за  неизпълнение на търговски договори;</li>
                    </ul>
                </p>
            </div>
        </div>
    </div>
</div>