<div class="container p-4" id="praktikaDiv">
    <div class="row">
        <div class="col-lg-3 col-md-12 mb-4 mb-md-0">
            <div class="six col">
                <a class="button" id="button-16" asp-controller="AboutUs" asp-action="AdministrativnoPravo">Административно право</a>
            </div>

            <div class="six col">
                <a class="button" id="button-16" asp-controller="AboutUs" asp-action="KorporativnoPravo">Корпоративно право</a>
            </div>

            <div class="six col">
                <a class="button" id="button-16" asp-controller="AboutUs" asp-action="TargovskoPravo">Търговско право</a>
            </div>

            <div class="six col">
                <a class="button" id="button-16" asp-controller="AboutUs" asp-action="VeshtnoPravo">Вещно право</a>
            </div>

            <div class="six col">
                <a class="button" id="button-16" asp-controller="AboutUs" asp-action="ObligacionnoPravo">Облигационно право</a>
            </div>

            <div class="six col">
                <a class="button" id="button-16" asp-controller="AboutUs" asp-action="NakazatelnoPravo">Наказателно право</a>
            </div>

            <div class="six col">
                <a class="button" id="button-16" asp-controller="AboutUs" asp-action="SemeynoNasledstvenoPravo">Семейно и наследствено право</a>
            </div>

            <div class="six col">
                <a class="button" id="button-16" asp-controller="AboutUs" asp-action="NesastoyatelnostLikvidaciya">Несъстоятелност и ликвидация</a>
            </div>

            <div class="six col">
                <a class="button" id="button-16" asp-controller="AboutUs" asp-action="ProcesualnoPredstavitelstvo">Процесуално представителство</a>
            </div>
        </div>
        <div class="col-lg-9 col-md-12 mb-4 mb-md-0">
            <div class="text_box">
                <center><h1>Вещно право</h1></center>
                <hr />
                <p>Следните услуги свързани с ващното право се предлагат:</p>
                <p>
                    <ul>
                        <li>Консултации по сделки с недвижими имоти;</li>
                        <li>Проверка и анализ на документи;</li>
                        <li>Проучване правния статут на имота;</li>
                        <li> Изготвяне и реализиране на сделки с недвижими имоти пред нотариус;</li>
                        <li>Регистрация на ЖСК и кооперации;</li>
                        <li>Представителство пред съда във връзка с оспорване на договори и нотариални актове</li>
                        <li>Консултации във връзка с договори за покупко-продажба, дарение, замяна на недвижими имоти, проучване на собствеността, посредничество при сделки  с недвижими имоти.</li>
                        <li>Изготвяне на предварителни договори и нотариални актове.</li>
                    </ul>
                </p>
            </div>
        </div>
    </div>
</div>