@{
    ViewData["Title"] = "Blog Page";
}

<div class="text-center">
    <h1 class="display-4">Блогът е временно недостъпен.</h1>
    <p><img class="picture-1" src="~/img/settings1.png"></p>
    
</div>